
@font-face {
  font-family: "Noto Sans Hebrew", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400 700; /* Make sure this matches your font's actual range */
  font-display: swap;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  src: url('/fonts/NotoSansHebrew.ttf') format('ttf');
}
/*
@font-face {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
  src: url('~/assets/fonts/Assistant.woff') format('woff');
}
*/